
    <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" id="inputEmail" class="form-control" placeholder="Email address"  [(ngModel)]="usuario.email" [ngModelOptions]="{standalone: true}"  required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password"  [(ngModel)]="usuario.password" [ngModelOptions]="{standalone: true}" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" [(ngModel)]="recuerda" (change)="toolgerRecuerda()" [ngModelOptions]="{standalone: true}" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" (click)="entrarUsuario()"  type="submit">Sign in</button>
      </form>

    </div>